*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper{
  background-color: rgb(221,161,171);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}